@import "bootstrap.css";
@import "bootstrap.rtl.css";
@import "bootstrap-grid.css";
@import "bootstrap-grid.rtl.css";
@import "bootstrap-reboot.css";
@import "bootstrap-reboot.rtl.css";
@import "bootstrap-utilities.css";
@import "bootstrap-utilities.rtl.css";

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    font-family: 'Merriweather', serif; !important;
}

button{
    font-family: 'Merriweather', serif; !important;
}

html, body{
    height: 100%;
}

.centerBox{
    background-color: white;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px black;
    margin: 10% 0px;
    padding: 60px 60px;
    align-content: center;
    horiz-align: center;
}